<%- include header.ejs %>

<div class="section hero">
 <div class="container">
   <div class="row">
         <% if (beer === undefined) { %>
          <div class="one-half column">
            <h1 class="hero-heading">Sorry could not found beer</h1>
          </div>
            <% } else { %>
          <div class="one-half column">
             <h2><%= beer.name %></h2>
             <% if (brewery) { %>
             <h3><a href="/breweries/<%= brewery._id %>"><%= brewery.name %></a></h3>
             <% } %>
             <% if (country) { %>
             <h4><%= country.name %> <img class="u-max-full-width" src="/images/flags/<%= country.flag %>"></h4>
             <% } %>
             <% if (style) { %>
             <p><%= style.name %>, <%= category.name %></p>
             <% } %>      
             <p class=""><%= beer.description %></p>
     </div>
     <div class="one-half column">
       <img class="u-max-full-width" src="/images/beer.png">
     </div>
      <% } %>  
   </div>
 </div>
</div>

<%- include footer.ejs %>