<%- include header.ejs %>

 <div class="container">
   <div class="row flex-center flex-column">
	   <div class="two-thirds column">
		<form action="/search/beers" method="GET" role="search" name="searchForm">
			<div class="row">
				<label for="word">What are you after?</label>
				<input class="u-full-width" type="text" placeholder="Search..." name="q" pattern=".{2,}" required>
			</div>
			<label for="word">Find</label>
			<div class="row">
				<a class="button button-primary search-btn" id="beer-search-btn">Beer</a>
				<a class="button search-btn" id="brewery-search-btn">Brewery</a>
				<a class="button search-btn" id="user-search-btn">User</a>
			</div>
		</form>
		<div class="row">
		<% if (beers.length < 1) { %>
			<h1 class="hero-heading">Sorry, could not find beer <strong>"<%= beerName %>"</strong></h1>
			<p>Add this beer to our database <a href="/beers/add">here!</a></p>
        <% } else { %>
			<h4 class="hero-heading" id="search-results">Results for <strong>"<%= beerName %>"</strong>, showing <%= beers.length %> out of <%= beers.length %>  </h4>
			</div>
            <% beers.forEach(function(beer){ %>
			<div class="row" style="padding: 0.5rem;">
			  <div class="card">
				  <div class="row">
					<div class="one-half column">
						<div class="card-image">
						  <img class="u-max-full-width" src="/images/search-beer.jpg">
						</div>
					</div>
					<div class="one-half column">
					  <div class="card-header">
						  <div class="card-title">
						<a class="card-link" href="/beers/<%= beer._id %>"><%= beer.name %></a>
						  </div> 
						    <div class="card-title">
								<i class="material-icons md-18 va-middle">star</i>
								<i class="material-icons md-18 va-middle">star</i>
								<i class="material-icons md-18 va-middle">star</i>
								<i class="material-icons md-18 va-middle">star_half</i>
								<i class="material-icons md-18 grey va-middle">star</i>                    
								<span class="va-middle">4.6</span>
                  			</div>
						  <% if (beer.style) { %>
                      <div class="card-subtitle">
                        <%= beer.style.name%>
                      </div>
                    <% } %>
                    <% if (beer.brewery) { %>
                      <div class="card-subtitle">
                        <a class="card-link" href="/breweries/<%= beer.brewery_id %>">
                          <%= beer.brewery.name%>
                        </a>
					</div>
                    <% } %>
                    <% if (beer.country) { %>
					<div class="card-subtitle">
                        <a class="card-link" href="/countries/<%= beer.country_id %>">
                          <%= beer.country.code %>
                        </a>
						<img class="u-max-full-width" src="/images/flags/<%= beer.country.flag %>">
					</div>
                    <% } %>  
                      </div>
					  </div>
					</div>
				  </div>
		      </div>
            <% }); %>
        <% } %>
	</div>
   </div>
 </div>

<%- include footer.ejs %>

</body>
</html>