<%- include header.ejs %>
<section class="main-section">
 <div class="container">
   <div class="row">
         <% if (beer === undefined) { %>
            <h1>Sorry could not found beer</h1>
            <% } else { %>
      <div class="col s12 m3">
        <div class="card-panel">
           <% if (beer.images.length !== 0) { %>
              <% beer.images.forEach(function(image) { %>
                <img class="responsive-img materialboxed" src="/uploads/beers/<%= beer._id %>/<%= image.name %>">
        <% }); %>
                  <% } else {%>
                    <img class="responsive-img" src="/images/bottle.png">
                  <% } %>
  </div>
                                        
        </div>
<div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                  <% if (session) { %>
                  <div class="right">
                     <a class="tooltipped" data-position="bottom" data-delay="50" id="consume-link" data-tooltip="Drank it?">
                      <svg id="consume-icon" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
                      </svg>
                    </a> 
                    <a class="tooltipped modal-trigger" data-position="bottom" data-delay="50" id="review-link" data-tooltip="Review">
                      <svg id="review-icon" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0zm15.35 6.41l-1.77-1.77c-.2-.2-.51-.2-.71 0L6 11.53V14h2.47l6.88-6.88c.2-.19.2-.51 0-.71z" fill="none"/>
                        <path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 14v-2.47l6.88-6.88c.2-.2.51-.2.71 0l1.77 1.77c.2.2.2.51 0 .71L8.47 14H6zm12 0h-7.5l2-2H18v2z"/>
                      </svg>
                    </a>
                    <a class="tooltipped modal-trigger" data-position="bottom" data-delay="50" id="rating-link" data-tooltip="Rate">
                      <svg id="rating-icon" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                    </a>
                    <a class="tooltipped" data-position="bottom" data-delay="50" id="image-link" data-tooltip="Add image">
                      <svg id="image-icon" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 0h24v24H0z" fill="none"/>
                        <path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/>
                      </svg>
                    </a>  
                    <a class="tooltipped" data-position="bottom" data-delay="50" id="edit-link" data-tooltip="Edit">
                      <svg id="edit-icon" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                    </a>
                  </div>
                  <% } %>
                  <span class="card-title" id="beer-name"><%= beer.name %></span>
                  <div class="card-title" id="rating-container">
                  <% if (!beer.avg_rating) { %>
                    <svg class="va-middle" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <svg class="va-middle" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <svg class="va-middle" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <svg class="va-middle" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <svg class="va-middle" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>                   
                    <span class="card-subtitle">N/A</span>
                  <% } %>
                  </div>
                <p><%= beer.description %></p>
              </div>
                <div class="card-content bt-1">                
                  <% if (beer.style_id) { %>
                    <div class="chip">
                      <a class="chip-link" href="/styles/<%= beer.style_id._id %>">
                        <%= beer.style_id.name %>
                      </a>
                    </div>                  
                    <% } %>
                      <% if (beer.category_id) { %>
                    <div class="chip">
                      <%= beer.category_id.name %>
                    </div>
                    <% } %>
                    <% if (beer.brewery_id) { %>
                      <div class="chip">
                          <%= beer.brewery_id.name %>
                        </a>
                      </div> 
                    <% } %>
                    <% if (beer.country_id) { %>
                      <div class="chip">
                        <img src="/images/flags/<%= beer.country_id.flag %>" alt="Contact Person">
                        <a class="chip-link" href="/countries/<%= beer.country_id._id %>">
                          <%= beer.country_id.code %>
                        </a>
                      </div>
                    <% } %>
                    </div>  
           </div>
              </div>

     <div class="col s12 m3">
       <div class="card">
         <div class="card-content">
           <figure class="flex-center flex-column">
             <img src="/icons/reviews.svg" alt="Reviews" />
             <figcaption>Reviews</figcaption>
             <figcaption><%= beer.reviews.length %></figcaption>
           </figure>
         </div>
       </div>
       <div class="card">
         <div class="card-content">
           <figure class="flex-center flex-column">
             <img src="/icons/ratings.svg" alt="Ratings" />
             <figcaption>Ratings</figcaption>
             <figcaption><%= beer.ratings.length %></figcaption>
           </figure>
         </div>
       </div>
       <div class="card">
         <div class="card-content">
           <figure class="flex-center flex-column">
             <img src="/icons/consumes.svg" alt="Consumes" />
             <figcaption>Consumes</figcaption>
             <figcaption><%= beer.consumes.length %></figcaption>
           </figure>
         </div>
       </div>
     </div>
          </div>   
      <% } %>
      <% if (beer.reviews) { %>  
<div class="row">
  <ul class="collection no-border" id="reviews-container">
  </ul>
</div>
<% } %>  

 </div> <!-- main container -->
</section>

<!-- Modals -->
     <div class="modal bottom-sheet" id="review-modal">
      <div class="modal-content" id="review-modal-body">
        <form action="/beers/<%= beer._id %>/review" method="post" name="reviewForm">
          <div class="container">
            <div class="row">
              <div class="col s6">
                <h4>Review</h4>
                <p>Please fill in the fields below to review this beer.</p>
              </div>
        <div class="col s6">
          <div class="input-field">
          <textarea class="materialize-textarea" placeholder="Fire away!" id="review" name="review"></textarea>
          <label for="review">Review</label>
          </div>
          <div class="input-field">
          <input placeholder="On a balcony, at a beach, in a restaurant..." type="text" class="validate" name="place" id="place" required>
          <label for="place">Where did you drink this beer?</label>
          </div>
          <div class="input-field">
            <select id="location" name="location" required>
              <option value="" disabled selected>Select country</option>
            </select>
            <label for="location">Location</label>
          </div>
        <button class="btn waves-effect waves-light" type="submit" name="submit">Submit</button>
        </div>
        </div>
      </div>                       
    </form>
  </div>
</div>
</div>
        <div class="modal" id="rating-modal">
                <div class="modal-content" id="rating-modal-body">
                  <div class="container">
                  <h4>Rate</h4>
                      <svg class="add-rating-symbol" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                      <svg class="add-rating-symbol" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                      <svg class="add-rating-symbol" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                      <svg class="add-rating-symbol" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>  
                      <svg class="add-rating-symbol" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>        
                  </div>        
                  </div>
                </div>

                              <div class="modal" id="image-modal">
                <div class="modal-content" id="image-modal-body">
                          <form action="/beers/<%= beer._id %>/addImage" method="post" enctype="multipart/form-data">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Add Photo</span>
                                    <input type="file" name="img">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                  </div>
                                </div>
                              <button id="submit-img-btn" class="btn waves-effect waves-light right" type="submit" name="submit">Submit</button>
                          </form>
                        </div>
                      </div>

                            <% if (session) { %>
              <div class="modal" id="edit-modal">
                <div class="modal-content" id="edit-modal-body">
                          <form method="POST" action="/beers/<%= beer._id %>" class="mt-1" name="beerDescription">
                            <label for="style">Style</label>
                            <select class="u-full-width" id="style" name="style" required>
                              <% if (beer.style_id) { %>
                              <option value="<%= beer.style_id %>" selected><%= beer.style_id.name %></option>                              
                              <% } else { %> 
                              <option value="" disabled selected>Select style</option>
                              <% } %>
                            </select>
                            <label for="category">Category</label>
                            <% if (beer.category_id) { %>
                            <select class="u-full-width" id="category" name="category" required>
                            <option value="<%= beer.category_id.name %>" selected><%= beer.category_id.name %></option>
                            <% } else { %>
                            <select class="u-full-width" id="category" name="category" disabled>
                            <% } %>
                            </select>
                            <input class="u-full-width" type="text" placeholder="New category" name="otherCategory" id="other-category" hidden>
                            <label for="country">Country</label>
                            <select class="u-full-width" id="country" name="country" required>
                              <% if (beer.country_id) { %>
                              <option value="<%= beer.country_id %>" selected><%= beer.country_id.name %></option>                              
                              <% } else { %> 
                              <option value="" disabled selected>Selected country</option>
                              <% } %>
                            </select>
                            <label for="brewery">Brewery</label>
                            <div id="loader"></div>
                            <% if (beer.brewery_id) { %>
                            <select class="u-full-width" id="brewery" name="brewery" required>
                            <option value="<%= beer.brewery_id.name %>" selected><%= beer.brewery_id.name %></option>
                            <% } else { %> 
                            <select class="u-full-width" id="brewery" name="brewery" disabled>
                            <% } %>                                                          
                            </select>
                            <input class="u-full-width" type="text" placeholder="New brewery" name="otherBrewery" id="other-brewery" hidden>
                            <div id="state-group" hidden>
                              <label for="state">State</label>                            
                              <select class="u-full-width" id="state" name="state">
                              </select>
                              <input class="u-full-width" type="text" placeholder="New state" name="otherState" id="other-state" hidden>
                            </div>                            
                            <label for="beer-description">Description</label>
                            <textarea class="u-full-width" placeholder="There ones was a beer..." id="beer-description" name="description"><%= beer.description %></textarea>
                            <input class="button-primary" type="submit" value="Submit">
                            <input type="button" value="Cancel" id="cancel-description-btn">
                          </form>
                        </div>
                      </div>              
           <% } %>  
  <!-- <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div> -->
<%- include footer.ejs %>

<script src="/js/beer.js"></script>
</body>
</html>