<%- include header.ejs %>

<div class="section hero">
 <div class="container">
   <div class="row">
         <% if (beer === undefined) { %>
          <div class="one-half column">
            <h1 class="hero-heading">Sorry could not found beer</h1>
          </div>
            <% } else { %>
            <div class="two-thirds column">
            <div class="card">
              <div class="card-image">
                <div class="row">
                  <div class="six image-column">
                    <img class="u-max-full-width" src="/images/beer-1.png">
                  </div>
                  <div class="three image-column">
                    <img class="u-max-full-width" src="/images/beer-2.jpg">
                    <img class="u-max-full-width" src="/images/beer-3.jpg">
                  </div>
                    <div class="three image-column">
                    <img class="u-max-full-width" src="/images/beer-4.jpg">
                    <img class="u-max-full-width" src="/images/beer-5.jpg">
                  </div>
                </div>
              </div>
                <div class="card-header">
                  <div class="u-pull-right mt-1">
                     <a class="tooltip tooltip-bottom" data-tooltip="Drank it?">
                      <img src="/icons/consumes-grey.svg" alt="Consume" /> 
                    </a> 
                    <a class="tooltip tooltip-bottom" data-tooltip="Review">
                      <img src="/icons/reviews-grey.svg" alt="Review" />
                    </a>
                    <a class="tooltip tooltip-bottom" data-tooltip="Rate">
                      <img src="/icons/ratings-grey.svg" alt="Rating" />
                    </a>
                    <a class="tooltip tooltip-bottom" data-tooltip="Edit">
                      <img src="/icons/edit-grey.svg" alt="Edit" />
                    </a>  
                  </div>
                  <div class="card-title"><%= beer.name %></div>
                  <div class="card-title">
                    <i class="material-icons md-24 va-middle">star</i>
                    <i class="material-icons md-24 va-middle">star</i>
                    <i class="material-icons md-24 va-middle">star</i>
                    <i class="material-icons md-24 va-middle">star_half</i>
                    <i class="material-icons md-24 grey va-middle">star</i>                    
                    <span class="va-middle">4.6</span>
                  </div>
                    <% if (style) { %>
                      <div class="card-subtitle">
                        <%= style.name %>
                      </div>
                    <% } %>
                      <div class="card-subtitle">
                    <% if (brewery) { %>
                        <a class="card-link" href="/breweries/<%= brewery._id %>">
                          <%= brewery.name %>
                        </a>
                    <% } %>
                    <% if (country) { %>
                        <a class="card-link" href="/countries/<%= country._id %>">
                          <%= country.code %>
                        </a>
                    <% } %>  
                      </div>
                </div>
                <div class="card-body">
                 <%= beer.description %>
                </div>
           </div>
     </div>
     <div class="one-third column">
       <div class="card">
         <div class="card-body">
           <figure style="margin: 1em 20px; padding: 0;" class="flex-center flex-column">
             <img src="/icons/reviews.svg" alt="Reviews" />
             <figcaption>Reviews</figcaption>
             <figcaption>200</figcaption>
           </figure>
         </div>
       </div>
       <div class="card">
         <div class="card-body">
           <figure style="margin: 1em 20px; padding: 0;" class="flex-center flex-column">
             <img src="/icons/ratings.svg" alt="Ratings" />
             <figcaption>Ratings</figcaption>
             <figcaption>500</figcaption>
           </figure>
         </div>
       </div>
       <div class="card">
         <div class="card-body">
           <figure style="margin: 1em 20px; padding: 0;" class="flex-center flex-column">
             <img src="/icons/consumes.svg" alt="Consumes" />
             <figcaption>Consumes</figcaption>
             <figcaption>4000</figcaption>
           </figure>
         </div>
       </div>
     </div>
   </div>
      <% } %>  
   </div>
 </div>
</div>

<%- include footer.ejs %>