<%- include header.ejs %>

<div class="section hero">
 <div class="container">
   <div class="row">
         <% if (beer === undefined) { %>
          <div class="one-half column">
            <h1 class="hero-heading">Sorry could not found beer</h1>
          </div>
            <% } else { %>
            <div class="two-thirds column">
              <div class="modal modal-sm" id="rating-modal">
                <div class="modal-overlay"></div>
                <div class="modal-container" id="rating-modal-body">
                  <div class="modal-header">
                    <button class="btn btn-clear u-pull-right" id="close-modal-btn"></button>
                    <div class="modal-header u-cf">
                      <svg class="add-rating-symbol" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                      <svg class="add-rating-symbol" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                      <svg class="add-rating-symbol" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                      <svg class="add-rating-symbol" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>  
                      <svg class="add-rating-symbol" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                    </div>                      
                  </div>
                </div>
                </div>
            <div class="card">
              <div class="card-image">
                <div class="row">
                  <div class="six image-column">
                    <img class="u-max-full-width" src="/images/beer-1.png">
                  </div>
                  <div class="three image-column">
                    <img class="u-max-full-width" src="/images/beer-2.jpg">
                    <img class="u-max-full-width" src="/images/beer-3.jpg">
                  </div>
                    <div class="three image-column">
                    <img class="u-max-full-width" src="/images/beer-4.jpg">
                    <img class="u-max-full-width" src="/images/beer-5.jpg">
                  </div>
                </div>
              </div>
                <div class="card-header">
                  <% if (session) { %>
                  <div class="u-pull-right mt-1">
                     <a class="tooltip tooltip-bottom" id="consume-link" data-tooltip="Drank it?">
                      <img src="/icons/consumes-grey.svg" id="consume-icon" alt="Consume" /> 
                    </a> 
                    <a class="tooltip tooltip-bottom" data-tooltip="Review">
                      <img src="/icons/reviews-grey.svg" alt="Review" />
                    </a>
                    <a class="tooltip tooltip-bottom" id="rating-link" data-tooltip="Rate">
                      <img src="/icons/ratings-grey.svg" alt="Rating" />
                    </a>
                    <a class="tooltip tooltip-bottom" id="edit-link" data-tooltip="Edit">
                      <img src="/icons/edit-grey.svg" alt="Edit" />
                    </a>  
                  </div>
                  <% } %>
                  <div class="card-title"><%= beer.name %></div>
                  <div class="card-title" id="rating-container">
                  <% if (!beer.avg_rating) { %>
                    <svg class="va-middle" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <svg class="va-middle" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <svg class="va-middle" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <svg class="va-middle" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>
                    <svg class="va-middle" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                      <path d="M0 0h24v24H0z" fill="none"/>
                    </svg>                   
                    <span class="card-subtitle">N/A</span>
                  <% } %>
                  </div>
                    <% if (style) { %>
                      <div class="card-subtitle">
                        <a class="card-link" href="/styles/<%= style._id %>">
                          <%= style.name %>
                        </a>
                      </div>
                    <% } %>
                      <% if (category) { %>
                      <div class="card-subtitle">
                        <%= category.name %>
                      </div>
                    <% } %>
                      <div class="card-subtitle">
                    <% if (brewery) { %>
                        <a class="card-link" href="/breweries/<%= brewery._id %>">
                          <%= brewery.name %>
                        </a>
                    <% } %>
                    <% if (country) { %>
                        <a class="card-link" href="/countries/<%= country._id %>">
                          <%= country.code %>
                        </a>
                    <% } %>  
                      </div>
                </div>
                <div class="card-body">
                 <%= beer.description %>
                </div>
           </div>
            <% if (session) { %>
              <div class="modal modal" id="edit-modal">
                <div class="modal-overlay"></div>
                <div class="modal-container" id="edit-modal-body">
                  <div class="modal-header">
                    <button class="btn btn-clear u-pull-right" id="close-edit-modal-btn"></button>
                  </div>
                      <div class="modal-body">
                        <div class="content">
                          <form method="POST" action="/beers/<%= beer._id %>/description" class="mt-1" name="beerDescription">
                            <label for="style">Style</label>
                            <select class="u-full-width" id="style" name="style" required>
                              <% if (style) { %>
                              <option value="<%= style._id %>" selected><%= style.name %></option>                              
                              <% } else { %> 
                              <option value="" disabled selected>Select style</option>
                              <% } %>
                            </select>
                            <label for="beer-description">Description</label>
                            <textarea class="u-full-width" placeholder="There ones was a beer..." id="beer-description" name="description"><%= beer.description %></textarea>
                            <input class="button-primary" type="submit" value="Submit">
                            <input type="button" value="Cancel" id="cancel-description-btn">
                          </form>
                        </div>
                      </div>
                </div>
              </div>  
           <% } %>  
     </div>
     <div class="one-third column">
       <div class="card">
         <div class="card-body">
           <figure style="margin: 1em 20px; padding: 0;" class="flex-center flex-column">
             <img src="/icons/reviews.svg" alt="Reviews" />
             <figcaption>Reviews</figcaption>
             <figcaption><%= beer.reviews.length %></figcaption>
           </figure>
         </div>
       </div>
       <div class="card">
         <div class="card-body">
           <figure style="margin: 1em 20px; padding: 0;" class="flex-center flex-column">
             <img src="/icons/ratings.svg" alt="Ratings" />
             <figcaption>Ratings</figcaption>
             <figcaption><%= beer.ratings.length %></figcaption>
           </figure>
         </div>
       </div>
       <div class="card">
         <div class="card-body">
           <figure style="margin: 1em 20px; padding: 0;" class="flex-center flex-column">
             <img src="/icons/consumes.svg" alt="Consumes" />
             <figcaption>Consumes</figcaption>
             <figcaption><%= beer.consumes.length %></figcaption>
           </figure>
         </div>
       </div>
     </div>   
   </div>
      <% } %>  
   </div>
 </div>
</div>

<%- include footer.ejs %>

<script src="/js/beer.js"></script>
</body>
</html>