<%- include header.ejs %>
<section class="main-section">
 <div class="container">
   <div class="row">
         <% if (beer === undefined) { %>
            <h1>Sorry could not found beer</h1>
            <% } else { %>
              <div class="col s12 m3">
                <div class="card">
                   <div class="card-content">
                     <figure class="flex-center flex-column">
                        <i class="material-icons" aria-hidden="true">done</i>
                       <figcaption>Consumes
                        <span id="consume-amount-span"><%= beer.consumes.length %></span>
                       </figcaption>
                       <button class="va-middle no-border bgc-transparent tc-lightblue hidden" id="add-consume-button">Add consume</button>
                     </figure>
                   </div>
                 </div>
                <div class="card">
                  <div class="card-content">
                    <figure class="flex-center flex-column">
                       <i class="material-icons" aria-hidden="true">star</i>
                      <figcaption>Ratings
                        <span id="rating-amount-span"><%= beer.ratings.length %></span>
                      </figcaption>
                      <button class="modal-trigger va-middle no-border bgc-transparent tc-lightblue hidden" id="post-rating-button">Post rating</button>                      
                    </figure>
                  </div>
                </div>
              </div>
                      
<div class="col s12 m6">
            <div class="card">
              <div class="card-content">
                  <span class="card-title" id="beer-name"><%= beer.name %></span>
                  <% if (!session) { %>
                    <span>
                      <p>Log in <a href="/login">here</a> to view more content</p>
                    </span>
                  <% } %>
                  <span class="card-title" id="rating-container">
                    <% if (!beer.avg_rating) { %>
                      <i class="material-icons" style="color: #E8EDFA;">star</i>
                      <i class="material-icons" style="color: #E8EDFA;">star</i>
                      <i class="material-icons" style="color: #E8EDFA;">star</i>
                      <i class="material-icons" style="color: #E8EDFA;">star</i>
                      <i class="material-icons" style="color: #E8EDFA;">star</i>            
                      <span class="card-subtitle">N/A</span>
                      <% } %>
                    </span>                
                <p><%= beer.description %></p>
              </div>
                <div class="card-content bt-1">                
                  <% if (beer.style_id) { %>
                    <div class="chip">
                      <a class="chip-link" href="/styles/<%= beer.style_id._id %>">
                        <%= beer.style_id.name %>
                      </a>
                    </div>                  
                    <% } %>
                      <% if (beer.category_id) { %>
                    <div class="chip">
                      <%= beer.category_id.name %>
                    </div>
                    <% } %>
                    <% if (beer.brewery_id) { %>
                      <div class="chip">
                          <%= beer.brewery_id.name %>
                      </div> 
                    <% } %>
                    <% if (beer.country_id) { %>
                      <div class="chip">
                        <img src="/images/flags/<%= beer.country_id.flag %>" alt="Flag of beer country">
                        <a class="chip-link" href="/countries/<%= beer.country_id._id %>">
                          <%= beer.country_id.code %>
                        </a>
                      </div>
                    <% } %>
                    </div>
           </div>
              </div>
     <div class="col s12 m3">
       <div class="card">
         <div class="card-content">
            <figure class="flex-center flex-column">
            <i class="material-icons" aria-hidden="true">rate_review</i>
            <figcaption>Reviews
              <span id="review-amount-span"><%= beer.reviews.length %></span>
            </figcaption>
            <button class="va-middle no-border bgc-transparent tc-lightblue hidden" id="write-review-button">Write review</button>
          </div>
       </div>
        <div class="card">
           <div class="card-content">
             <figure class="flex-center flex-column">
                 <i class="material-icons" aria-hidden="true">insert_photo</i>
               <figcaption>Images
                <span id="image-amount-span"><%= beer.images.length %></span>
              </figcaption>
               <button class="va-middle no-border bgc-transparent tc-lightblue hidden" id="upload-image-button">Upload photo</button>
             </figure>
           </div>
         </div>
     </div>
          </div>   
      <% } %>
      <div class="row">
        <h3>Photos</h3>
        <% if (beer.images.length === 0) { %>
          <p id="no-images-message">Be the first one to upload a photo of this beer!</p>
        <% } %> 
        <div id="beer-image-container" style="display:flex;"></div>
      </div>  
<div class="row">
    <h3>Reviews</h3>
    <% if (beer.reviews.length === 0) { %>
      <p id="no-reviews-message">Be the first one to write a review of this beer!</p>      
      <% } %> 
    <ul class="collection no-border" id="reviews-container">
    </ul>
  </div>
</div>

 </div> <!-- main container -->
</section>

     <div class="modal bottom-sheet" id="review-modal">
      <div class="modal-content" id="review-modal-body">
        <form name="reviewForm">
          <div class="container">
            <div class="row">
              <div class="col s6">
                <h4>Review</h4>
                <p>Please fill in the fields below to review this beer.</p>
              </div>
        <div class="col s6">
          <div class="input-field">
          <textarea class="materialize-textarea validate" placeholder="Fire away!" id="review" name="review" data-length="120"></textarea>
          <label id="review-label" for="review">Review</label>
          </div>
          <div class="input-field">
          <input placeholder="On a balcony, at a beach, in a restaurant..." type="text" class="validate" name="place" id="place" required>
          <label for="place">Where did you drink this beer?</label>
          </div>
        <button id="review-btn" class="btn waves-effect waves-light" type="submit" name="submit">Submit</button>
        </div>
        </div>
      </div>                       
    </form>
  </div>
</div>
</div>
        <div class="modal" id="rating-modal" style="width: 400px;">
          <form name="ratingForm">
                <div class="modal-content" id="rating-modal-body">
                  <h4>Post beer rating</h4>
                  <div class="container">
                    <div class="flex-center">
                      <svg class="add-rating-symbol" style="margin: 5px; cursor: pointer;" fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                      <svg class="add-rating-symbol" style="margin: 5px; cursor: pointer;" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                      <svg class="add-rating-symbol" style="margin: 5px; cursor: pointer;" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                      <svg class="add-rating-symbol" style="margin: 5px; cursor: pointer;" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>  
                      <svg class="add-rating-symbol" style="margin: 5px; cursor: pointer;" fill="#E8EDFA" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/>
                        <path d="M0 0h24v24H0z" fill="none"/>
                      </svg>
                    </div>
                        <p class="range-field">
                          <input type="range" id="rating-slider" min="1" max="5" value="1" />
                        </p>
                        <div class="flex-center">
                          <button class="btn waves-effect waves-light" for="ratingForm" type="submit" name="action">Rate</button>
                        </div>
                  </div>
                </div>
          </form>
              </div>
            <div class="modal" id="image-modal">
                <div class="modal-content" id="image-modal-body">
                  <h4>Upload beer image</h4>
                    <p><b>Please do not include any faces in the image.</b></p>
                    <p>Try to only capture the beer and its surrounding. Where is the beer? What is it doing there? Try to make your picture unique and have some fun!</p>
                    <p>Check out these examples if you are unsure.</p>
                          <form id="upload-image-form">
                                <div class="file-field input-field">
                                  <div class="btn">
                                    <span>Add Photo</span>
                                    <input type="file" name="img">
                                  </div>
                                  <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                  </div>
                                </div>
                              <button type="submit" class="btn waves-effect waves-light right" name="submit">Submit</button>
                          </form>
                          <div id="loading-container" class="preloader-wrapper big">
                              <div class="spinner-layer spinner-blue-only">
                                  <div class="circle-clipper left">
                                    <div class="circle"></div>
                                  </div><div class="gap-patch">
                                    <div class="circle"></div>
                                  </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                  </div>
                                </div>
                           </div>
                        </div>
                      </div>

<%- include footer.ejs %>

<% if (session) { %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket.js"></script>
<% } %>

<script src="/js/beer.js"></script>
</body>
</html>