<%- include header.ejs %>

<div class="section hero">
 <div class="container">
   <div class="row">
         <% if (brewery === undefined) { %>
          <div class="one-half column">
            <h1 class="hero-heading">Sorry could not found brewery</h1>
          </div>
            <% } else { %>
          <div class="one-half column">
             <h2><%= brewery.name %></h2>
             <% if (state) { %>
             <h3><%= state.name %>
              <% if (country) { %>
              , <a href="/countries/<%= country._id %>"><%= country.name %></a></h3>
             <% } %>
             <% } %>

     </div>
     <div class="one-half column">
       <img class="u-max-full-width" src="/images/brewery.jpg">
     </div>
      <% } %>  
   </div>
 </div>
</div>

<%- include footer.ejs %>