<%- include header.ejs %>
<section class="main-section">
 <div class="container">
   <div class="row ta-center">
         <% if (country === undefined) { %>
            <h2>Sorry, could not found country</h2>
            <% } else { %>
             <h2><%= country.name %> <img class="responsive-img" src="/images/flags/<%= country.flag %>"></h2>
             <p>Below is a how <%= country.name %> compares to the top countries on BeerRaters.</p>
             <p>Grow <%= country.name %> by <a href="/beers/add">adding</a> a new beer.</p>
             <div id="loading-container" class="preloader-wrapper big">
                <div class="spinner-layer spinner-blue-only">
                    <div class="circle-clipper left">
                      <div class="circle"></div>
                    </div><div class="gap-patch">
                      <div class="circle"></div>
                    </div><div class="circle-clipper right">
                      <div class="circle"></div>
                    </div>
                  </div>
             </div>
            
<canvas id="myChart"></canvas>
      <% } %>  
   </div>
 </div>
</section>

<%- include footer.ejs %>

<% if (session) { %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket.js"></script>
<% } %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<script>window.Chart || document.write('<script src="/js/libs/chart.min.js"><\/script>')</script>
<script src="/js/countries.js"></script>
</body>
</html>