<%- include header.ejs %>

<div class="section hero">
 <div class="container">
   <div class="row">
         <% if (country === undefined) { %>
          <div class="one-half column">
            <h1 class="hero-heading">Sorry could not found country</h1>
          </div>
            <% } else { %>
          <div class="one-half column">
             <h1 class="hero-heading"><%= country.name %> <img class="u-max-full-width" src="/images/flags/<%= country.flag %>"></h1>
             <h1 class="hero-heading"><%= country.code %></h1>
             <p>Breweries: <%=breweries %></p>
             <p>Beers: <%=beers %></p>
          </div>
      <% } %>  
   </div>
 </div>
</div>

<%- include footer.ejs %>

</body>
</html>