<%- include header.ejs %>

<div class="section hero">
	<div class="container">
		<div class="container">
			<div class="row flex-row flex-center">
				<div class="one-half column">
					<% if (followers.length === 0) { %>
						<p><a href="/users/<%= user.id %>"><%= user.username %></a> has no followers yet :'(</p>
					<% } else { %>
				</div>
			</div>
		</div>
		<div class="row flex-row flex-center">
			<div class="one-half column">
				<p>Showing <a href="/users/<%= user.id %>"><%= user.username %></a>'s followers...</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row flex-row flex-center">
			<div class="one-half column" id="follow-row">
				<% followers.forEach(function(follower){ %>
					<div class="card" id="follow-card">
						<div class="card-header flex-center flex-column">
							<figure class="avatar avatar-xl">
								<% if (follower.profileImg) { %>
									<img src="/public/uploads/<%= user.profileImg %>" class="u-max-full-width img-thumbnail img-circle img-responsive" />
								<% } else { %>
									<img src="/images/user-placeholder.png" class="u-max-full-width img-thumbnail img-circle img-responsive" />
								<% } %>
							</figure>
							<div class="card-title">
								<a href="/users/<%= follower._id %>">@<%= follower.username %></a>
								<img src="/images/flags/SE-32.png">
							</div>
							<div class="card-title">
								<%= follower.name %>
							</div>
							<div class="card-subtitle">
								Member since <%= follower.registered.toDateString() %>
							</div>
							<div class="card-subtitle">

								<span id="followers"><%= follower.followers.length %></span> follower(s)

							</div>
						</div>
					</div>
				<% }); %>
			</div>
		</div>
	</div>
	<% } %>
</div>

<%- include footer.ejs %>

</body>
</html>