<%- include header.ejs %>
<section class="main-section">
<div class="container">
  <div class="row">
    <div class="col s6">
      <h4 id="register-heading">Register</h4>
      <p>Join the web's largest beer community today!</p>
    </div>
    <div class="col s6">
      <form method="post" name="register">
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          <input id="username" type="text" class="validate" name="username" required title="Username must contain letters and numbers only.">
          <span style="color:red" id="usernameMsg"></span>
          <label for="username">Username</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">face</i>
          <input id="name" type="text" class="validate" name="name" required title="Name must be at least 3 characters, max 30, no special characters or numbers, must have space in between name.">
          <label for="name">Full Name</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="email" type="text" class="validate" name="email" required>
          <span style="color:red" id="emailMsg"></span>
          <label for="email">Email</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">security</i>
          <input id="password" type="password" name="password" title="Password needs to have at least one lower case, one uppercase, one number, one special character, and must be at least 8 characters but no more than 35." required>
          <span style="color:red" id="passwordMsg"></span>
          <label for="password">Password</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">location_on</i>
          <select class="icons" id="country" name="country" required>
          <option value="" disabled selected>Select country</option>
          <% countries.forEach(function(country) { %>
            <option value="<%= country._id %>" data-icon="/images/flags/<%= country.flag %>" class="flag-img left valign-wrapper"><%= country.name %></option>
          <% }); %>
          </select>
          <label for="country">Country</label>
        </div>

        <button class="btn waves-effect waves-light" id="register-btn" type="submit" name="action">Register</button>
      </form>
    </div>
  </div>
</div>

</section>

<%- include footer.ejs %>

<script>
$(document).ready(function () {
  $('select').material_select()
})
</script>
<script src="/js/register.js"></script>
</body>
</html>