<%- include header.ejs %>
<% reviews.forEach(function(review){
 %> 
 <h1><%= review.beer %></h1>
 <h3><%= review.rating %></h3>
 <p><%= review.body %></p>
 <%
}); %>
<%- include footer.ejs %>

</body>
</html>