<%- include header.ejs %>
<div id="style-color-container" class="vw-100 h-20" style="background-color: <%= style.color_code %>;">
 <div class="container pt-5">
   <div class="row">
         <% if (style === undefined) { %>
          <div class="col s12 m12">
            <h1>Sorry could not found style</h1>
          </div>
            <% } else { %>
            <div class="col s12 m12 l8">
              <div class="card">
                <div class="card-content">
                  <h3><%= style.name %></h3>  
                  <h5>Description</h5>
                  <p><%= style.description %><p>
                  <h5>History</h5>
                  <p><%= style.history %><p>
              </div>
              </div>
            </div>
            <div class="col s12 m8 l4 ta-center">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">ABV</span>
                  <p><%= style.ABV %></p>
                </div>             
              </div>
              <div class="card">
                <div class="card-content">
                  <span class="card-title">COLOR</span>
                    <div class="row">
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #F8F753;"></div>
                      </div>  
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #F6F513;"></div>
                      </div>
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #ECE61A;"></div>
                      </div>
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #D5BC26;"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #BF923B;"></div>
                      </div>
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #BF813A;"></div>
                      </div>
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #BC6733;"></div>
                      </div>
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #8D4C32;"></div>
                      </div>
                  </div>
                    <div class="row">
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #5D341A;"></div>
                      </div>
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #261716;"></div>
                      </div>
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #0F0B0A;"></div>
                      </div>
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #080707;"></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s3">
                        <div class="h-1-5 style-color-box" style="background-color: #030403;"></div>
                      </div>
                </div>
              </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <span class="card-title">MEASUREMENTS</span>
                  <p>SRM: <%= style.SRM %> EBC: <%= style.EBC %></p>      
                </div>    
              </div>
            </div>
      <% } %>  
   </div>
 </div>
 </div>

<%- include footer.ejs %>

<% if (session) { %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket.js"></script>
<% } %>
<script src="/js/style.js"></script>
</body>
</html>