<%- include header.ejs %>
<div id="style-color-container" class="vw-100 h-40" style="background-color: <%= style.color_code %>;">
 <div class="container">
   <div class="row">
         <% if (style === undefined) { %>
          <div class="one-half column">
            <h1 class="hero-heading">Sorry could not found style</h1>
          </div>
            <% } else { %>
            <div class="two-thirds column mt-10">
              <div class="card style-card">
                <div class="card-header">
                  <h1><%= style.name %></h1>  
                <div class="card-body">
                  <h4>Description</h4>
                  <p><%= style.description %><p>
                  <h4>History</h4>
                  <p><%= style.history %><p>
                </div>
              </div>
              </div>
            </div>
            <div class="one-third column mt-10">
              <div class="card style-card ta-center">
                <div class="card-header">
                  <div class="card-title">ABV</div>
                </div>
                <div class="card-body">
                  <%= style.ABV %>
                </div>             
              </div>
              <div class="card style-card ta-center">
                <div class="card-header">
                  <div class="card-title">COLOR</div>
                  <div class="card-body">
                    <div class="row">
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #F8F753;"></div>
                      </div>  
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #F6F513;"></div>
                      </div>
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #ECE61A;"></div>
                      </div>
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #D5BC26;"></div>
                      </div>
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #BF923B;"></div>
                      </div>
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #BF813A;"></div>
                      </div>
                    </div>
                  </div>
                    <div class="card-body mt-1">
                    <div class="row">
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #BC6733;"></div>
                      </div>
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #8D4C32;"></div>
                      </div>
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #5D341A;"></div>
                      </div>
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #261716;"></div>
                      </div>
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #0F0B0A;"></div>
                      </div>
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #080707;"></div>
                      </div>
                    </div>
                    </div>
                    <div class="card-body mt-1">
                    <div class="row">
                      <div class="two columns">
                        <div class="h-2 style-color-box" style="background-color: #030403;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card style-card ta-center">
                <div class="card-header">
                  <div class="card-title">MEASUREMENTS</div>
                </div>
                <div class="card-body">
                  SRM: <%= style.SRM %>
                  EBC: <%= style.EBC %>
                </div>             
              </div>
            </div>
      <% } %>  
   </div>
 </div>
 </div>

<%- include footer.ejs %>

<script src="/js/displayStyleColor.js"></script>
</body>
</html>