<%- include header.ejs %>
 <div class="container pt-5">
   <div class="row">
         <% if (style === undefined) { %>
          <div class="col s12 m12">
            <h1>Sorry could not found style</h1>
          </div>
            <% } else { %>
            <div class="col s12 m12 l8">
              <div class="card">
                <div class="card-content">
                  <h3><%= style.name %></h3>  
                  <h5>Description</h5>
                  <p><%= style.description %><p>
                  <h5>History</h5>
                  <p><%= style.history %><p>
              </div>
              </div>
            </div>
            <div class="col s12 m8 l4 ta-center">
              <div class="card">
                <div class="card-content">
                  <span class="card-title">ABV</span>
                  <p><%= style.ABV %></p>
                </div>             
              </div>
              <div class="card">
                <div class="card-content">
                  <span class="card-title">COLOR</span>
                    <div class="row">
                      <div class="col s12">
                        <div style="height:50px; background-color: <%= style.color_code %>"></div>
                      </div>  
              </div>
              </div>
              </div>
              <div class="card">
                <div class="card-content">
                  <span class="card-title">MEASUREMENTS</span>
                  <p>SRM: <%= style.SRM %> EBC: <%= style.EBC %></p>      
                </div>    
              </div>
            </div>
      <% } %>  
   </div>
 </div>
 </div>

<%- include footer.ejs %>

<% if (session) { %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/socket.js"></script>
<% } %>
<script src="/js/style.js"></script>
</body>
</html>