<%- include header.ejs %>

<% if (session) { %>

<section class="main-section">
 <div class="container">
   <div class="row">
  <% if (user === undefined || user.active === false) { %>
    <h1>Sorry could not found user</h1>
     <% } else { %>
     <div class="col s12 m3">
            <div class="card flex-center flex-column ta-center">
              <div class="card-image">
                  <% if (user.profileImg.length > 0) { %>
                    <img src="/uploads/users/<%= user._id %>/<%= user.profileImg %>" class="circle responsive-img" />
                  <% } else { %>
                    <img src="/images/user-placeholder.png" />
                  <% } %>
                </div>
                <div class="card-content">
                <span class="card-title">
                  @<%= user.username %>
                  <img src="/images/flags/SE-32.png" />
                </span>
                <span class="card-title">
                  <%= user.name %>
                </span>
                <span class="card-subtitle">
                  Member since <%= user.registered.toDateString() %>
                </span>
                <br>
                                  <% if (user.description) { %>
                  <p><%= user.description %></p>
                <% } else { %>
                  <p>User has no description yet.</p>
                <% } %>
                </div>
                <div class="card-action flex-center flex-column">
                  <% if (session && session._id === user.id) { %>
                <a class="waves-effect waves-light btn" href="/users/<%= session._id %>/edit">Edit my profile</a>
                <% } else { %>
                  <% if (follower) { %>
                    <a class="waves-effect waves-light btn" id="follow" data-id="<%= user._id %>" href="">Unfollow</a>
                  <% } else { %>
                    <a class="waves-effect waves-light btn" id="follow" data-id="<%= user._id %>" href="">Follow</a>
                  <% } %>
               <% } %>
              </div>
            </div>
              <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Followers <span class="card-subtitle">(<span id="followers"><%= followers %></span>)</span><i class="material-icons right">chevron_right</i></div>
      <div class="collapsible-body p-0">
        <ul class="collection">
          <% user.followers.forEach(function(follower) { %>
    <li class="collection-item avatar">
    <% if (follower.profileImg.length > 0) { %>
      <img src="/uploads/users/<%= follower._id %>/<%= follower.profileImg %>" class="circle responsive-img" />
    <% } else { %>
      <img src="/images/user-placeholder.png" class="circle responsive-img" />
    <% } %>
      <span class="title"><a href="/users/<%= follower._id %>"><%= follower.username %></a></span>
    </li>
          <% }); %>
        </ul>
      </div>
    </li>
       <li>
      <div class="collapsible-header">Following <span class="card-subtitle">(<span id="following"><%= user.following.length %></span>)</span><i class="material-icons right">chevron_right</i></div>
      <div class="collapsible-body p-0">
        <ul class="collection">
          <% user.following.forEach(function(following) { %>
    <li class="collection-item avatar">
    <% if (following.profileImg.length > 0) { %>
      <img src="/uploads/users/<%= following._id %>/<%= following.profileImg %>" class="circle responsive-img" />
    <% } else { %>
      <img src="/images/user-placeholder.png" class="circle responsive-img" />
    <% } %>
      <span class="title"><a href="/users/<%= following._id %>"><%= following.username %></a></span>
    </li>
          <% }); %>
        </ul>
      </div>
    </li>
    </ul>
          </div>

 <div class="col s12 m6 card">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#reviews">Reviews</a></li>
        <li class="tab"><a href="#ratings">Ratings</a></li>
        <li class="tab"><a href="#consumes">Consumes</a></li>        
        <li class="tab"><a href="#gallery">Gallery</a></li>        
      </ul>
    </div>
    <div class="card-content">
      <div id="reviews" class="col s12">
       <ul class="collection no-border" id="reviews-container"></ul>
      </div>
      <div id="ratings" class="col s12">
        <div class="collection no-border" id="ratings-list">
        </div>
      </div>
      <div id="gallery" class="col s12">
        <% if (user.images.length > 0) { %>
          <div class="row">
            <% user.images.forEach(function(image) { %>
              <div class="col s12 m3">
                <img class="materialboxed responsive-img" data-caption="<%= image.beer_id.name %>" src="/uploads/beers/<%= image.beer_id._id %>/<%= image.name %>" />
              </div>
                <% }); %>
          </div>
       <% } else { %>
        <span class="card-title">No user images</span>
        <% } %>
   </div>
      <div id="consumes" class="col s12">
        <div class="collection no-border" id="consume-list">
        </div>
      </div>            
  </div>
</div>

  <div id="edit-modal" class="modal">
    <div class="modal-content">
      <h4>Edit Review</h4>
      <h6 id="review-modal-title"></h6>
      <p id="review-modal-body"></p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn">Submit</a>
    </div>
  </div>


  <div class="col s12 m3">
              <div class="card">
                <div class="card-content">
                  <span class="card-title ta-center">Contributions <span class="card-subtitle">(<%= user.reviews.length + user.ratings.length + user.consumes.length + user.images.length %>)</span></span>                   
                    <canvas id="myChart"></canvas>
                        
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                   <span class="card-title ta-center">Rank <span class="card-subtitle" id="ranking-field"></span></span>        
                </div>
              </div>
            
   
  </div>
<% } %> 
<% } else { %>
  <h3 class="ta-center">You have to log in to view this content</h3>
  <% } %>
</div>
</div>
 </section> 

          
<%- include footer.ejs %>
<% if (session) { %>
<script>
  $(document).ready(function () {
    $('.collapsible').collapsible()
    $('.modal').modal()              
})
</script>
<script src="/js/libs/chart.min.js"></script>
<script src="/js/user.js"></script>

<% } %>

</body>
</html>