<%- include header.ejs %>

<% if (session) { %>

<section class="main-section">
 <div class="container">
   <div class="row">
  <!-- Element Showed -->
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a id="menu" class="btn btn-floating btn-large cyan"><i class="material-icons">menu</i></a>
    </div>
    <!-- Tap Target Structure -->
    <div class="tap-target" data-activates="menu">
      <div class="tap-target-content">
        <h5 id="feed"></h5>
        <p id="feed-info"></p>
      </div>
    </div>


  <% if (user === undefined) { %>
    <h1>Sorry could not found user</h1>
     <% } else { %>
     <div class="col s12 m3">
            <div class="card flex-center flex-column ta-center">
              <div id="profile-img" class="card-image">
                <% if (user.profileImg.data === null) { %>
                  <img src="/images/user-placeholder.png" class="responsive-img card-image profile" />
                <% } %>
                </div>
                <div class="card-content">
                <% if (user.status) { %>
                  <span class="user-status light-green accent-3"></span> Online
                <% } else { %>
                  <span class="user-status grey lighten-2"></span> Offline
                <% } %>
                <span class="card-title">
                  @<%= user.username %>
                  <img src="/images/flags/SE-32.png" />
                </span>
                <span class="card-title">
                  <%= user.name %>
                </span>
                <span class="card-subtitle">
                  <% if (user.active === true) { %>
                    Member since <%= user.registered.toDateString() %>
                  <% } else { %>
                    Member is not active
                  <% } %>
                </span>
                <br>
                                  <% if (user.description) { %>
                  <p><%= user.description %></p>
                <% } else { %>
                  <p>User has no description yet.</p>
                <% } %></br>
                </div>
                <div class="card-action flex-center flex-column">
                  <% if (session && session._id === user.id) { %>
                <a class="waves-effect waves-light btn" href="/users/<%= session._id %>/edit">Edit my profile</a>
                <% } else { %>
                  <% if (follower) { %>
                    <a class="waves-effect waves-light btn" id="follow" data-id="<%= user._id %>" href="">Unfollow</a>
                  <% } else { %>
                    <a class="waves-effect waves-light btn" id="follow" data-id="<%= user._id %>" href="">Follow</a>
                  <% } %>
               <% } %>
              </div>
            </div>
              <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">Followers <span class="card-subtitle">(<span id="followers"><%= followers %></span>)</span><i class="material-icons right">chevron_right</i></div>
      <div class="collapsible-body p-0">
        <ul class="collection">
          <% user.followers.forEach(function(follower) { %>
    <li class="collection-item avatar follower-list">
    <% if (follower.profileImg.data !== null) { %>
      <img src="" class="circle responsive-img" />
    <% } else { %>
      <img src="/images/user-placeholder.png" class="circle responsive-img" />
    <% } %>
      <% if (follower.status === true) { %>
        <span class="title follower-span"><a href="/users/<%= follower._id %>"><%= follower.username %></a><span class="user-status light-green accent-3 ml-10"></span></span>
      <% } else { %>
        <span class="title follower-span"><a href="/users/<%= follower._id %>"><%= follower.username %></a><span class="user-status grey lighten-2 ml-10"></span></span>
      <% } %>
    </li>
          <% }); %>
        </ul>
      </div>
    </li>
       <li>
      <div class="collapsible-header">Following <span class="card-subtitle">(<span id="following"><%= user.following.length %></span>)</span><i class="material-icons right">chevron_right</i></div>
      <div class="collapsible-body p-0">
        <ul class="collection">
          <% user.following.forEach(function(following) { %>
    <li class="collection-item avatar following-list">
    <% if (following.profileImg.data !== null) { %>
      <img src="" class="circle responsive-img" />
    <% } else { %>
      <img src="/images/user-placeholder.png" class="circle responsive-img" />
    <% } %>
      <% if (following.status === true) { %>
        <span class="title follower-span"><a href="/users/<%= following._id %>"><%= following.username %></a><span class="user-status light-green accent-3 ml-10"></span></span>
      <% } else { %>
        <span class="title follower-span"><a href="/users/<%= following._id %>"><%= following.username %></a><span class="user-status grey lighten-2 ml-10"></span></span>
      <% } %>
    </li>
          <% }); %>
        </ul>
      </div>
    </li>
    </ul>
          </div>

 <div class="col s12 m6 card">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width" style="overflow: hidden;">
        <li class="tab"><a class="active" href="#reviews">Reviews</a></li>
        <li class="tab"><a href="#ratings">Ratings</a></li>
        <li class="tab"><a href="#consumes">Consumes</a></li>        
        <li class="tab"><a href="#gallery">Gallery</a></li>        
      </ul>
    </div>
    <div class="card-content">
      <div id="reviews" class="col s12">
         <% if (user.reviews.length > 0) { %>   
       <ul class="collection no-border" id="reviews-container">
       <% user.reviews.forEach(function(review) { %>
              <li class="collection-item avatar">
            <span class="title">
              <a href="/beers/<%= review.beer_id._id %>" data-target="<%= review._id %>"><%= review.beer_id.name %></a>
            </span>
            <p>
             <%= review.place %>
            </p>
            <p>
              <span class="card-subtitle"><%= review.body %></span>
            </p>
             <% if (session._id === id) { %>
            <a class="secondary-content modal-trigger" href="#edit-modal"><i class="material-icons">mode_edit</i></a>
          <% } %>
       </li>
        <% }); %>
       </ul>
         <% } else { %>
          <div class="row">
            <span class="card-title">No user reviews</span>
          </div>
           <% } %>
      </div>
      <div id="ratings" class="col s12">
        <div class="collection no-border" id="ratings-list">
        </div>
      </div>
      <div id="gallery" class="col s12">
        <% if (user.images.length === 0) { %>
          <div class="row">
            <span class="card-title">No user images</span>
          </div>
        <% } else { %>
          <div class="row">
            <% user.images.forEach(function(image) { %>
              <div class="col s12 m3 image-column"></div>
            <% }); %>
          </div>
        <% } %>
   </div>
      <div id="consumes" class="col s12">
        <div class="collection no-border" id="consume-list">
        </div>
      </div>            
  </div>
</div>

  <div id="edit-modal" class="modal">
    <div class="modal-content">
      <h4>Edit Review</h4>
      <h5 id="edit-modal-title"></h5>
       <div class="row">
    <form class="col s12" name="editReviewForm">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="body" name="body" autofocus class="materialize-textarea"></textarea>
          <label for="body">Review</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
    </form>
  </div>
    </div>
  </div>


  <div class="col s12 m3">
              <div class="card">
                <div class="card-content">
                  <span class="card-title ta-center">Contributions <span class="card-subtitle">(<%= user.reviews.length + user.ratings.length + user.consumes.length + user.images.length %>)</span></span>                   
                    <canvas id="myChart"></canvas>
                        
                </div>
              </div>
              <div class="card">
                <div class="card-content">
                   <span class="card-title ta-center">Rank <span class="card-subtitle" id="ranking-field"></span></span>        
                </div>
              </div>
            
   
  </div>
<% } %> 
<% } else { %>
  <h3 class="ta-center">You have to log in to view this content</h3>
  <% } %>
</div>
</div>
 </section> 

          
<%- include footer.ejs %>
<% if (session) { %>
<script>
  $(document).ready(function () {
    $('.collapsible').collapsible()
    $('.modal').modal()
})

</script>
  <script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io.connect('/', {transports: ['websocket']})
    socket.on('news', async function (data) {
      const userId = document.getElementById('user-session-id').href.split('/')[4]
      const response = await fetch(`/users/${userId}/following`, {
        method: 'get',
        credentials: 'same-origin'
      })
      const users = await response.json()
      const userIds = users.following.map(user => {
      return user._id
    })
      if (userIds.includes(data.user)) {
      $('#menu').addClass('pulse')
      $('#menu').click(() => {
        $('#feed').html(data.title)
        $('#feed-info').append(data.message)
        $('.tap-target').tapTarget('open')
        $('#menu').removeClass('pulse')
      })
  }
})
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<script>window.Chart || document.write('<script src="/js/libs/chart.min.js"><\/script>')</script>
<script src="/js/user.js"></script>

<% } %>

</body>
</html>