<%- include header.ejs %>

 <div class="container">
   <div class="row">
				<form action="/search/beers" method="GET" role="search" name="searchForm">
					<div class="row">
						<label for="word">What are you after?</label>
						<input class="u-full-width" type="text" placeholder="Search..." name="q" pattern=".{2,}" required>
					</div>
					<label for="word">Find</label>
					<div class="row">
						<div class="one-third column">
							<a class="button button-primary search-btn" id="beer-search-btn">Beer</a>
						</div>
						<div class="one-third column">
							<a class="button search-btn" id="brewery-search-btn">Brewery</a>
						</div>
						<div class="one-third column">
							<a class="button search-btn" id="user-search-btn">User</a>
						</div>
					</div>
				</form>
				</div>
				 <div class="row">
		<% if (users.length < 1) { %>
				<h1 class="hero-heading">Sorry, could not find user!</h1>
				<p>Add this user to our database <a href="/adduser">here!</a></p>
                <% } else { %>
				 <h4 class="hero-heading" id="search-results">Results for <strong>"<%= userName %>"</strong> </h4>
                <% users.forEach(function(user){ %>
                	<h1 class="hero-heading"><a href="/users/<%= user.id %>"><%= user.name %></a></h1>
                    <% }); %>
                <% } %>
			</div>
   </div>
 </div>

<%- include footer.ejs %>

</body>
</html>